@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
  background-color: #2b2e34;
  font-family: 'Orbitron', sans-serif;
}
table{
  
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-top:8%;
  width: 400px;
}
.table-item {
    background-color: #1D2225;
    width:75px;
    padding:20px;
    font-size: 30px;
    color: #D0D2D4;
    text-align: center;

    
  }
  .inner-grid-container{
    display: grid;
    grid-template-columns: 112px 112px 112px 112px;

  }
  #screen{
    max-width: 420px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 30px;
    height: 50px;
    scrollbar-width: 4px;
    scrollbar-color:#1D2225 #FFFFFF;
    
  }

 .screen{
    height:110px;
    background-color: white;
    margin: 0px;
    padding: 15px;
    color: black;
    font-size: 40px;
    text-align: right;
    max-width: 420px;
    
  }
  
  .operator{
    background-color:#5E4BB5;
  }
  .equal-sign{
    background-color: #fec208;
    COLOR: #1D2225;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
.table-item:active{
  background-color: #8F9497;
}
 